$color-primary-0: #8514FF;	// Main Primary color */
$color-primary-1: #D3ABFF;
$color-primary-2: #BB7BFF;
$color-primary-3: #470093;
$color-primary-4: #360071;

$color-secondary-1-0: #C9FF00;	// Main Secondary color (1) */
$color-secondary-1-1: #EBFFA4;
$color-secondary-1-2: #E0FF70;
$color-secondary-1-3: #A3D000;
$color-secondary-1-4: #7EA000;

$color-secondary-2-0: #FFC500;	// Main Secondary color (2) */
$color-secondary-2-1: #FFEAA4;
$color-secondary-2-2: #FFDE70;
$color-secondary-2-3: #D9A700;
$color-secondary-2-4: #A78100;